<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Bloque</th>
      <th scope="col">Apartamento</th>
      <th scope="col">Nombre propietario</th>
      <th scope="col">Nombre Arrendatario</th>
      <th scope="col">Cantidad vehiculos</th>
      <th scope="col">Tipo vehiculo</th>
      <th scope="col">Referencia vehiculo</th>
      <th scope="col">Placa vehiculo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>J</td>
      <td>503</td>
      <td>Viky Andrea Bolaños B</td>
      <td>N/A</td>
      <td>1</td>
      <td>Carro</td>
      <td>Spark GT</td>
      <td>DFM 900</td>
    </tr>
  </tbody>
</table>