<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/static/images/logo.png" width="50" height="50">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/home">Inicio</a>
      </li>
      <li><a href="/register">Registro</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <div class="navbar-nav container-md">
      <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control col-md-6" type="search" placeholder="Search" aria-label="Search">
          <button class="col -md-6 btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>