{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% for message in get_flashed_messages() %}
        <div class="alert-success alert-dismissible">
            <button type="button" data-dismiss="alert" class="close">
                &times;
            </button>
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}
        {% include 'table.html' %}
    {% endblock %}

{% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}